$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.director-view {
  text-align: center;
  width: 45vw;
  margin: 15vh auto;
  background-color: $primaryColor;
  border: 8px groove $secondaryColor;
  border-radius: 10px;
  padding: 4%;
}

.director-card {
  border: 4px outset $primaryColor;
  border-radius: 10px;
  padding: 1rem;
}

.director-pic {
  width: 50%;
  margin: 0 auto;
  border: 3px outset #7a7a7a;
  border-radius: 15px;
}

.director-name {
  color: $secondaryColor;
  font-size: 200%;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 7%;
}

.dirback-button {
  width: 8rem;
  color: $secondaryColor;
  background-color: #000;
  border: 5px outset $secondaryColor;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  font-weight: bold; 
}