$primaryColor: #b5b5b5;
$secondaryColor: #ff841f;
$font-stack: sans-serif;

.login-container {
  background-color: $primaryColor;
  border-radius: 5px;
  margin-top: 20px;
  font-family: sans-serif;
  width: 15rem;
  padding: 10px;
}

.register-button, .login-submit {
  color: #000;
  background-color: $secondaryColor;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  text-decoration: underline;
}

Button:hover {
  opacity: 0.8;
  text-decoration: none;
}