$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.login-view {
  background-color: $primaryColor;
  border: 5px groove $secondaryColor;
  border-radius: 5px;
  margin: 0 auto;
  font-family: sans-serif;
  width: 50vw;
  padding: 3%;
}

/* .submit-login {
  color: #000;
  background-color: $secondaryColor;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
} */

.registration {
  margin-top: 5%;
}

.register-button {
  color: #000;
  background-color: $secondaryColor;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

Button:hover {
  background-color: #00b7ff;
  font-weight: bold;
  text-decoration: none;
}