$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.movie-card {
  text-align: center;
  margin: 15vh auto;
  background-color: $primaryColor;
  border: 8px outset #919191;
  border-radius: 15px;
}

.movie-poster {
  width: 60%;
  margin: 0 auto;
  border: 5px outset $secondaryColor;
  border-radius: 15px;
  margin-top: 2rem;
}

.movie-title {
  display: inline-block;
  width: 30rem;
  background-color: #000;
  font-size: 200%;
  color: $secondaryColor;
  padding: 7px;
  border: 5px outset $secondaryColor;
  border-radius: 15px;
}

.movie-description {
  margin: 0 auto;
  background-color: $primaryColor;
}

.button-container {
  background-color: $primaryColor;
}

.open-button, .director-button, .genre-button {
  width: 50%;
  color: $secondaryColor;
  background-color: #000;
  border: 5px outset $secondaryColor;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  margin: 0.5rem auto;
  font-weight: bold;  
}

.favorite-button {
  color: #000;
  background-color: $secondaryColor;
  border: 2px outset #7a7a7a;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 5% auto;
  font-weight: bold;
}