$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.movie-view {
  text-align: center;
  width: 75vw;
  margin: 0 auto;
  background-color: $primaryColor;
  border: 8px groove $secondaryColor;
  border-radius: 10px;
  padding: 3%;
}

.movie-title {
  margin: 3rem auto;
}

.movie-description {
  color: #000;
}

.movie-poster {
  width: 50%;
  margin: 0 auto;
  border: 5px outset $secondaryColor;
  border-radius: 15px;
  margin-top: 1rem;
}

.movie-genre, .movie-director {
  background-color: $primaryColor;
  font-size: 120%;
}

.movies-button, .favorite-button {
  color: #000;
  background-color: $secondaryColor;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 5px auto;
  font-weight: bold;  
}

.genre-label, .director-label {
  font-weight: bold;
  font-size: 130%;
  color: $secondaryColor;
  text-decoration: underline;
}