$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.main-view {
  background-color: #000;
}

.navbar {
  background-color: $primaryColor;
  position: static;
  border: 1px solid $secondaryColor;
  border-radius: 5px;
  margin-bottom: 30px;
  display: inline-block;
}