$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font: 'Orbitron', sans-serif;

.main__view {
  background-color: #000;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  filter: drop-shadow(.5rem .5rem 2rem $secondaryColor);
  margin-bottom: 5rem;
  background-color: $primaryColor;
  background-image: url('https://media.giphy.com/media/fq8HxnZAkoTybqirPN/giphy.gif');
  background-size: cover;
  background-repeat: none;
  background-position: center;
  position: static;
  font-family: $font;
  font-weight: bold;
  padding: 1.5rem;
}

.navbar__brand-text {
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
}

.navbar__brand-text:hover {
  color: $secondaryColor;
}

.nav {
  width: 100%;
}

.nav__link-label{
  margin: 0 1rem;
  font-size: 1.5rem;
  color: #fff;
}

.nav__link-label:hover {
  color: $secondaryColor;
}

.logout__button {
  width: 15%;
  line-height: 2rem;
  background-color: $secondaryColor;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.logout__button:hover {
  background-color: black;
  color: $secondaryColor;
}