$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.profile__view {
  text-align: center;
  width: 45vw;
  margin: 15vh auto;
  background-color: $primaryColor;
  box-shadow: 0 .5rem 1rem $secondaryColor, 0 -.5rem 1rem $secondaryColor;
  border-radius: 10px;
  padding: 4%;
  font-family: 'Orbitron', sans-serif;
}

.profile__card, .update__card {
  font-weight: bold;
  border: 4px outset $primaryColor;
  border-radius: 10px;
  padding: 1rem;
}

.profile__title {
  background-color: #000;
  box-shadow: 0 .5rem 1rem $secondaryColor, 0 -.5rem 1rem $secondaryColor;
  border-radius: 10px;
  color: $secondaryColor;
  text-align: center;
  margin-bottom: 4%;
}

.profile__item {
  font-weight: bold;
  display: block;
  margin: 15px auto;
  font-size: 140%;
  text-decoration: underline;
}

.button__container {
  background-color: #fff;
  margin: 1rem;
}

.update, .remove__favorite, .delete__user, .back__button {
  width: 100%;
  color: $secondaryColor;
  background-color: #000;
  border-radius: .5rem;
  padding: .5rem;
  text-align: center;
  margin: 1rem auto;  
  font-family: 'Orbitron', sans-serif;
}

.update:hover, .remove__favorite:hover, .delete__user:hover, .back__button:hover {
  background-color: $secondaryColor;
  color: #000;
  box-shadow: .3rem .3rem 1rem #000, -.3rem -.3rem 1rem #000;
}

.update {
  margin: 0 auto;
}

.remove__favorite {
  margin: 0 auto;
  margin-left: 20px;
}

.favorites__item {
  display: block;
  list-style-type: none;
  text-align: center;
  margin: 15px auto;
  font-weight: bold;
  font-size: 110%;
}

.form__label {
  text-decoration: underline;
  font-size: 120%;
}

.profile__title {
  margin-top: 15px;
}

.profile__tabs {
  font-weight: bold;
  color: #000;
}

.tab__item {
  background-color: $secondaryColor;
  border: 2px outset #000;
  border-radius: 10px;
}