$primaryColor: #b5b5b5;
$secondaryColor: #e93d04;
$font-stack: sans-serif;

.update-container {
  background-color: $primaryColor;
  border: 5px groove $secondaryColor;
  border-radius: 5px;
  margin: 10vh auto;
  font-family: sans-serif;
  padding: 3%;
}

.update-user {
  color: #000;
  background-color: $secondaryColor;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 5px;
  font-weight: bold;
} 